In [19]:
girl_ages = {"Evelyn": 17, "Jessica": 16, "Somto": 17, "Edith": 18, "Liza": 16, "Madonna": 18, "Waje": 17, "Tola": 20, "Aisha": 19, "Latifa": 17}
girl_heights = {"Evelyn": 5.5, "Jessica": 6.0, "Somto": 5.4, "Edith": 5.9, "Liza": 5.6, "Madonna": 5.5, "Waje": 6.1, "Tola": 6.0, "Aisha": 5.7, "Latifa": 5.5}
girl_scores = {"Evelyn": 80, "Jessica": 85, "Somto": 70, "Edith": 60, "Liza": 76, "Madonna": 66, "Waje": 87, "Tola": 95, "Aisha": 50, "Latifa": 49}

boy_ages = {"Chinedu": 19, "Liam": 16, "Wale": 18, "Gbenga": 17, "Abiola": 20, "Kola": 19, "Kunle": 16, "George": 18, "Thomas": 17, "Wesley": 19}
boy_heights = {"Chinedu": 5.7, "Liam": 5.9, "Wale": 5.8, "Gbenga": 6.1, "Abiola": 5.9, "Kola": 5.5, "Kunle": 6.1, "George": 5.4, "Thomas": 5.8, "Wesley": 5.7}
boy_scores = {"Chinedu": 74, "Liam": 87, "Wale": 75, "Gbenga": 68, "Abiola": 66, "Kola": 78, "Kunle": 87, "George": 98, "Thomas": 54, "Wesley": 60}

print("  Name   |  Age | Height | Score")

"""
Print the girls' information in tabular form
But to make the table uniform, we have to calulate the number of spaces
that each cell in the first row would need to have
in relation to the width of the associated column. We have to do this for only
this column and not others because the length of a student's name is not fixed.
"""
for girl in girl_ages.keys():
  spaces = " " * (12 - len(girl))
  print(f" {girl}{spaces}{girl_ages[girl]}     {girl_heights[girl]}     {girl_scores[girl]}")

#Print the boys' information in tabular form
for boy in boy_ages.keys():
  spaces = " " * (12 - len(boy))
  print(f" {boy}{spaces}{boy_ages[boy]}     {boy_heights[boy]}     {boy_scores[boy]}")

  Name   |  Age | Height | Score
 Evelyn      17     5.5     80
 Jessica     16     6.0     85
 Somto       17     5.4     70
 Edith       18     5.9     60
 Liza        16     5.6     76
 Madonna     18     5.5     66
 Waje        17     6.1     87
 Tola        20     6.0     95
 Aisha       19     5.7     50
 Latifa      17     5.5     49
 Chinedu     19     5.7     74
 Liam        16     5.9     87
 Wale        18     5.8     75
 Gbenga      17     6.1     68
 Abiola      20     5.9     66
 Kola        19     5.5     78
 Kunle       16     6.1     87
 George      18     5.4     98
 Thomas      17     5.8     54
 Wesley      19     5.7     60